<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="codecracker.CSharp" version="1.1.0" targetFramework="portable45-net45+win8" developmentDependency="true" />
  <package id="Desktop.Analyzers" version="1.1.0" targetFramework="portable45-net45+win8" />
  <package id="Dhgms.GripeWithRoslyn.Analyzer" version="1.0.18.0-pre" targetFramework="portable45-net45+win8" />
  <package id="JetBrains.Annotations" version="2018.2.1" targetFramework="portable45-net45+win8" />
  <package id="Microsoft.AnalyzerPowerPack" version="1.1.0" targetFramework="portable45-net45+win8" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="2.6.2" targetFramework="portable45-net45+win8" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.6.2" targetFramework="portable45-net45+win8" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.6.2" targetFramework="portable45-net45+win8" developmentDependency="true" />
  <package id="Microsoft.DotNet.FrameworkCompatibilityDiagnostics" version="0.5.0" targetFramework="portable45-net45+win8" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="2.6.2" targetFramework="portable45-net45+win8" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.6.2" targetFramework="portable45-net45+win8" developmentDependency="true" />
  <package id="Microsoft.NETNative.Analyzer" version="1.0.0" targetFramework="portable45-net45+win8" />
  <package id="NuGet.CommandLine" version="4.7.1" targetFramework="portable45-net45+win8" developmentDependency="true" />
  <package id="RefactoringEssentials" version="5.6.0" targetFramework="portable45-net45+win8" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.0.2" targetFramework="portable45-net45+win8" developmentDependency="true" />
  <package id="System.Runtime" version="4.3.0" targetFramework="portable45-net45+win8" />
  <package id="System.Runtime.Analyzers" version="1.1.0" targetFramework="portable45-net45+win8" />
  <package id="System.Runtime.InteropServices.Analyzers" version="1.1.0" targetFramework="portable45-net45+win8" />
  <package id="System.Security.Cryptography.Hashing.Algorithms.Analyzers" version="1.1.0" targetFramework="portable45-net45+win8" />
  <package id="Text.Analyzers" version="2.6.2" targetFramework="portable45-net45+win8" developmentDependency="true" />
  <package id="Wintellect.Analyzers" version="1.0.6.0" targetFramework="portable45-net45+win8" />
</packages>